@{
    ViewData["Title"] = "Cuidados Canguro";
}

<div class="text-center">
    <h1 class="mb-4">Cuidados Canguro</h1>
    <p class="lead">El Método Madre Canguro es una estrategia eficaz para el cuidado de recién nacidos prematuros o de bajo peso, basado en el contacto piel a piel y la lactancia materna exclusiva.</p>
</div>

<div class="row mt-5">
    <div class="col-md-6 d-flex flex-column justify-content-center">
        <h3>Beneficios</h3>
        <p>Entre los principales beneficios se encuentran:</p>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Mejora la estabilidad térmica del bebé</li>
            <li class="list-group-item">Reduce el riesgo de infecciones</li>
            <li class="list-group-item">Promueve la ganancia de peso</li>
            <li class="list-group-item">Fortalece el vínculo afectivo</li>
        </ul>
        <a class="btn btn-primary mt-3" asp-controller="Home" asp-action="Testimonios">Leer Testimonios</a>
    </div>
    <div class="col-md-6">
        <img src="~/img/canguro1.jpg" class="img-fluid rounded shadow" alt="Cuidados Canguro" />
    </div>
</div>
