@{
    ViewData["Title"] = "Lactancia Materna";
}

<div class="text-center">
    <h1 class="mb-4">Lactancia Materna</h1>
    <p class="lead">La lactancia materna es el mejor alimento para el recién nacido. Proporciona nutrientes esenciales, fortalece el sistema inmunológico y refuerza el vínculo entre madre e hijo.</p>
</div>

<div class="row mt-5">
    <div class="col-md-6">
        <img src="~/img/lactancia1.jpg" class="img-fluid rounded shadow" alt="Lactancia Materna" />
    </div>
    <div class="col-md-6 d-flex flex-column justify-content-center">
        <h3>Beneficios</h3>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Protege contra enfermedades</li>
            <li class="list-group-item">Favorece el desarrollo cognitivo</li>
            <li class="list-group-item">Fortalece el vínculo afectivo</li>
        </ul>
        <a class="btn btn-primary mt-3" asp-controller="Home" asp-action="Recursos">Ver Recursos</a>
    </div>
</div>
